body{
    text-align: center;
    
}
#cricket{
    height: 800px;
    width:100%;
        
    background-color: aqua;
}
#football{
    height: 800px;
    width:100%;
        
    background-color:yellowgreen;
}
img{
 
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}
img:hover{
    transform: scale(0.9)
}